<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conhecendo o Spring</title>
</head>
<body>
  <h1>Cadastro de Diaristas</h1>

  <form method="POST" th:object="${form}">

    <label for="">Nome: </label>
    <input type="text" th:field="*{nome}"><br>

    <label for="">Telefone: </label>
    <input type="text" th:field="*{telefone}"><br>

    <label for="">CPF: </label>
    <input type="text" th:field="*{cpf}"><br>

    <button type="submit">Salvar</button>

  </form>
</body>
</html>