<!DOCTYPE html>
<html lang="pr-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conhecendo o Spring</title>
</head>
<body>
  <h1>Lista de Diaristas</h1>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Endereço</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="diarista : ${diaristas}">
        <td th:text="${diarista.id}"></td>
        <td th:text="${diarista.nome}"></td>
        <td th:text="${diarista.telefone}"></td>
        <td th:text="${diarista.endereco}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>