<!DOCTYPE html>
<html th:replace="~{base :: layout (~{::main})}">
<body>
  <main>
    <h1>Lista de Diaristas</h1>
  
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Endereço</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="diarista : ${diaristas}">
          <td th:text="${diarista.id}"></td>
          <td>
            <a th:href="@{/diaristas/{id} (id=${diarista.id})}" th:text="${diarista.nome}"></a>
          </td>
          <td th:text="${diarista.telefone}"></td>
          <td th:text="${diarista.endereco}"></td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>